name: Build ZMK Firmware

on:
  push:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest
    container: zmkfirmware/zmk-build-arm:3.0
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Build
      run: |
        west build -s /zmk/app -b nice_nano_v2 -- -DSHIELD=bonzo -DZMK_CONFIG="$PWD"
